---
layout: default
---

<div class="page-header">
	<div class="container">
		<p>Examples</p>
		<h1>{{ page.title }}</h1>
	</div>
</div>
<div class="container">
  	<div class="clearfix">
   		{{ content }}
   	</div>
</div>
<div class="page-footer">
	<div class="container">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{{ site.baseurl }}/">Home</a></li>
			<li class="breadcrumb-item"><a href="{{ site.baseurl }}/example/">Examples</a></li>
			<li class="breadcrumb-item active">{{ page.title }}</li>
		</ol>
	</div>
</div>
