---
layout: default
---

<div class="container">
	<div class="jumbotron">
		<h1>ArduinoJson: F.A.Q</h1>
		<h2>{{ page.title }}</h2>
		<div class="date text-right">{% if page.date %}(updated on {{page.date | date_to_long_string }}){% endif %}</div>
	</div>
 	<div class="clearfix">
 		{{ content }}
 	</div>
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{{ site.baseurl }}/">Home</a></li>
		<li class="breadcrumb-item"><a href="{{ site.baseurl }}/faq/">FAQ</a></li>
		<li class="breadcrumb-item active">{{ page.title }}</li>
	</ol>
</div>
