---
layout: default
---

<div class="container">
	<div class="jumbotron">
		<h1>News from ArduinoJson</h1>
		<h2>{{ page.title }}</h2>
		<p>{{ page.date | date_to_long_string }}
	</div>

	<div class="clearfix">
		{{ content }}
	</div>

	<div class="alert alert-info">
		<h4>Do you want to receive updates from ArduinoJson?</h4>
		<p>You can <a href="{{site.baseurl}}/feed.xml">subscribe to the Atom feed (similar to RSS)</a>.</p>
	</div>

	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{{ site.baseurl }}/">Home</a></li>
		<li class="breadcrumb-item"><a href="{{ site.baseurl }}/news/">News</a></li>
		<li class="breadcrumb-item active">{{ page.date | date: "%Y-%m-%d" }} - {{ page.title }}</li>
	</ol>
</div>
